html {
    background-color: aquamarine;
}

h1 {
    text-align: center;
    font-size: 48px;
    margin-right: 15%;
    margin-top: 2%;
    margin-bottom: 5%;
    border: 10px double plum;
}

h2 {
    font-size: 30px;
}